.Tv-Contain {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tv-sub-contain {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.tv-img-contain {
    padding: 20px;
}

.tv-img-contain img {
    transition: transform 0.3s;
    width: 280px;
}

.tv-img-contain img:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.tv-details-contain {
    text-align: center;
    margin-top: 20px;
}

.tv-name-container {
    padding: 20px;

}

.tv-price-container {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    position: relative;
    left: 5px;
    padding: 10px;
}