.multi {
    /* background-color: #1a1919; */
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    width: 100vw;
    height: auto;
}

.Ele {
    width: 100%;
    height: auto;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.Ele-col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.Ele-col div {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 20px;
    border-radius: 13%;
    border: 2px solid #fff;

}

.Ele-col div p,
h2 {
    color: #fff;
    padding: 10px;

}

.Ele img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s;
    border-radius: 10%;

}

.Ele img:hover {
    transform: scale(1.1);
}

/* toy section */
.toy {
    width: 100%;
    height: auto;
}

.toy-col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.toy-col div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
    border-radius: 13%;
    border: 2px solid #fff;
}

.toy-col div p,
h2 {
    color: #fff;
    padding: 10px;
}

.toy img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s;
    border-radius: 10%;
}

.toy img:hover {
    transform: scale(1.2);
}

/* Cloth section */
.Cloths {
    width: 100vw;
    height: auto;
}

.Both-collections {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.Both-collections div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Both-collections div img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.Cloths img:hover {
    transform: scale(1.2);
}

.Cloths div p {
    color: #fff;
    padding: 10px;
}